.main-div{
    width: 434px;
    height: 640px;
    background-color: rgba(57, 57, 57, 1);
    border-radius: 10px;
    margin: auto;
    padding-top: 1px;
    margin-top: 20px;
}

.div-title{
    width: 85%;
    height: 70px;
    background-color: rgba(255, 0, 61, 1);
    border-radius: 5px;
    margin: auto;
}

.title{
    font-family: "Inter", system-ui;
    font-weight: 800;
    font-style: normal;
    color: white;
    text-align: center;
    padding-top: 15px;
}

.dragfile-area{
    width: 85%;
    height: 400px;
    border: solid 3px rgba(255, 0, 61, 1);
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 6.7%;
    background-color: rgb(44, 40, 40);
    
}

.emptybox-icon{
    width: 100%; /* Ajusta el ancho a 100% del contenedor */
    height: auto; /* Mantiene la proporción original */
    max-width: 150px; /* Limita el ancho máximo */
    margin: 100px auto; /* Margen arriba y abajo */
    display: block; /* Comportamiento de bloque */
}

.dragarea-button{
    background-color: rgba(255, 0, 107, 1);
    color: white;
    border: solid 3px rgba(255, 0, 61, 1);
    border-radius: 5px;
    font-family: "Inter", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: larger;
    width: 95%;
    height: 35px;
    margin: 8px;
}

.dragarea-button:hover{
    background-color: rgb(255, 98, 176);
}

.convert-button{
    background-color: rgba(255, 0, 61, 1);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Inter", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: larger;
    padding: 20px;
    margin: 20px;
    margin-left: 140px;
}

.convert-button:hover{
    background-color: rgb(255, 61, 97);
}